body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #dbdbdb;
}

a {
  color: #00B7FF;
}
h1 {
  text-align: center;
  margin-right: 1%;
  margin-top: 0%;
  font-weight: normal;
  font-size: 100px;
  font-weight: bold;
}
#title {
  padding: 70px 100px 50px 50px;
  font-size: 3vw;
  box-shadow: 0.5px 0.5px 0.5px 0.5px
}
  #description {
    padding: 70px 100px 50px 50px;
    font-size: 3vw;
    width: 500px;
    height: 200px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px
}
#addButton {
  background-color: #cc1d1d;
  color: white;
  padding: 30px 130px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  font-size: 2vw;
}

#button1 {
  background-color: #cc1d1d;
  color: white;
  padding: 30px 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  font-size: 2vw;
}

#NotesTitle {
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8vw;
  font-weight: bold;
}

#NotesDescription {
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5vw;
}

#notesListDate {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 3vw;
  float: left;
}

#notesList {
  float: left;
  background-color: #fff;
  margin-bottom: 10%;
  width:80%;
  height: 100%;
  padding: 0% 8% 5% 8%;
  border:none;
  box-shadow: 0.5px 0.5px 2.5px grey;
  border-radius: 30px;
  position: static;
}